header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:#007ab6;
	color:white;
	text-align:left;
	padding:10px; 
}
nav {
	position:fixed;
	top:100;
	right:0;
	line-height:30px;
	background-color:#007ab6;
	color:white;
	height:95%;
	width:10%;
	float:right;
	padding:5px; 
}
section {
	margin-top:100px;
	width:350px;
	float:middle;
	padding:10px; 
	text-align:left;
}
footer {
	background-color:#007ab6;
	color:white;
	clear:both;
	text-align:center;
	padding:5px; 
}
body {
	font-family:Verdana, Helvetica, sans-serif;
}
div.navigation + div.navigation {
	margin-top:10px;
}
div.navigation {
	text-align:center;
	font-weight:bold;
	color:white;
	line-height:50px;
	background-color:#009DDD;
	height:50px;
	width:105%;
	float:right;
	padding:5px; 
}
div.logo {
	margin-top: 15px;
	text-align:center;
	color:white;
	height:100px;
	width:100%;
	float:right; 
}
a{
	color:white
}
a.nav{
	text-decoration: none;
	color:white
}
svg.centered {
	position: absolute;
	left: 45%;
	top: 15%;
	margin-left: -500px;
}
